{% extends "core/base_staff.html" %}
{% block title %}Staff Dashboard{% endblock %}
{% block content %}
<h1 class="text-center">Welcome, {{ user.username }}</h1>
<h2 class="mt-5">Requests in {{ user.city }}</h2>
<table class="table table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td>{{ request.service_id }}</td>
            <td>{{ request.type_of_service }}</td>
            <td>{{ request.status }}</td>
            <td>
                <a href="{% url 'update_status' request.service_id %}" class="btn btn-primary btn-sm">Update</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
