{% extends "core/base_customer.html" %}
{% block title %}Track Request{% endblock %}
{% block content %}
    <h1>Your Requests</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
        {% for request in requests %}
        <tr>
            <td>{{ request.service_id }}</td>
            <td>{{ request.type_of_service }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.status }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}